In [1]:
import pandas as pd
import plotly.graph_objects as go
import plotly.offline as offline

offline.init_notebook_mode(connected=True)

In [3]:
stock_data = pd.read_csv("data/stock_market.csv")
stock_data.sample(10)

,Date,Open,High,Low,Close,Volume,UnadjustedVolume,Change,ChangePercent,Vwap,Label,ChangeOverTime
254,2014-01-24,79.1428,79.3742,77.8214,78.0099,108384437,15483491,-1.444300,-1.818,78.6542,"Jan 24, 14",0.081820
105,2013-06-21,59.7842,59.9999,58.3000,59.0714,120286768,17183824,-0.476857,-0.801,59.0307,"Jun 21, 13",-0.180814
109,2013-06-27,57.0357,57.3414,56.2199,56.2542,84297955,12042565,-0.612857,-1.078,56.6387,"Jun 27, 13",-0.219882
28,2013-03-04,61.1142,61.1714,59.8571,60.0071,145406366,20772338,-1.488600,-2.421,60.4793,"Mar 4, 13",-0.167838
298,2014-03-28,76.9028,76.9913,76.3214,76.6942,50141063,7163009,-0.085714,-0.112,76.7078,"Mar 28, 14",0.063574
697,2015-10-27,115.4000,116.5400,113.9900,114.5500,69884400,69884400,-0.730000,-0.633,115.2401,"Oct 27, 15",0.588547
541,2015-03-17,125.9000,127.3200,125.6500,127.0400,51023104,51023104,2.090000,1.673,126.7501,"Mar 17, 15",0.761755
147,2013-08-21,71.9414,72.4499,71.5999,71.7656,83809726,11972818,0.184286,0.257,71.9926,"Aug 21, 13",-0.004775
68,2013-04-30,62.1571,63.6071,61.7242,63.2542,172737600,24676800,1.808600,2.943,62.8118,"Apr 30, 13",-0.122808
997,2017-01-05,115.9200,116.8642,115.8100,116.6100,22193587,22193587,0.590000,0.509,116.4482,"Jan 5, 17",0.617115

In [5]:
trace = go.Candlestick(x = stock_data.Date,
                       open = stock_data.Open,
                       high = stock_data.High,
                       low = stock_data.Low,
                       close = stock_data.Close)

In [6]:
data = [trace]

offline.iplot(data)